.env
/bot/__pycache__
/bot/handlers/__pycache__
/fastapi_app/__pycache__
/mongo
/notebooks
/tests/__pycache__
/tests/test_handlers/__pycache__
/tests/test_handlers/.pytest_cache
/fastapi_app/models/__pycache__
/fastapi_app/mongodb/__pycache__
/fastapi_app/routers/__pycache__
/fastapi_app/tests/__pycache__
/.pytest_cache
/pgdata
/mlflow_client/__pycache__
/mlflow_client/routers/__pycache__
